/* Reset básico para remover margens, paddings e garantir consistência */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Melhorias para tipografia e suavização de fonte */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 100%; /* 16px padrão */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  line-height: 1.5;
  font-family: "Exo 2", sans-serif;
  background-color: #121212;
  color: #fff;
  transition: 0.5s;
}

/* Remover estilos padrão de lista */
ul,
ol {
  list-style: none;
}

/* Links sem estilos padrão */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset para botões e inputs */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Tabelas sem espaçamentos estranhos */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Corrigir comportamento do box-sizing em elementos interativos */
input,
textarea,
select,
button {
  box-sizing: border-box;
}

/* Melhorar acessibilidade para foco */
:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

/* Remover estilos padrões do fieldset e legend */
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
}
